<div class="example-container">
  <h2>{{ title }}</h2>
  <!-- add todo to list -->
  <div>
    <form
      class="add-todo-form"
      [formGroup]="addTodoForm"
      (ngSubmit)="addTodo(listId)"
    >
      <input type="text" name="title" formControlName="title" />
      <button type="submit">+ Add a Card</button>
    </form>
  </div>
  <div class="example-list">
    <!-- todo list -->
    <div
      class="example-box"
      *ngFor="let item of todos; let i = index; trackBy: identify"
      cdkDrag
      (click)="editTodo(i)"
    >
      <span *ngIf="!isEditTodo">{{ item.title }}</span>
      <input
        *ngIf="isEditTodo"
        #myInput
        type="text"
        [value]="item.title"
        (blur)="updateTodo(myInput, listId, i)"
        (keyup.enter)="updateTodo(myInput, listId, i)"
      />
      <button
        type="button"
        (click)="deleteTodo(listId, i); $event.preventDefault()"
      >
        Delete
      </button>
    </div>
  </div>
</div>

<br />
<br />

<!-- <div cdkDropListGroup>
  <div class="example-container">
    <h2>In Progress</h2>
    <div
      cdkDropList
      [cdkDropListData]="inProgress"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of inProgress" cdkDrag>
        {{ item }}
      </div>
    </div>
  </div>
</div> -->
